<div class="container-fluid text-bg-dark"> 
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand h1 fs-3" href="/admin">Blog</a>
        <div>
            <div class="p-3 d-flex align-items-center justify-content-center">
                <a class="me-2" href='/admin' class="nav-link active" aria-current="page">
                <button class="btn btn-primary bg-transparent">Home</button>
                </a>
                <a class="me-2" href='/admin/categoria' class="nav-link">
                <button class="btn btn-primary bg-transparent">Categorias</button>
                </a>
                <a class="me-2" href='/admin/postagem' class="nav-link">
                <button class="btn btn-primary bg-transparent">Postagens</button>
                </a>
            </div>
        </div>
    </div>
</div>