<form class="form" action="/add" method="POST">
    <label for="">Titulo</label>
    <input type="text" name="inputTitulo">
    <label for="">Conteudo</label>
    <textarea type="text" name="inputConteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>